# Variáveis de ambiente
.env

# Dependências
node_modules/

# Build gerado pelo TypeScript
dist/

# Mapas de debug
*.js.map

# Logs
*.log
npm-debug.log*

# Sistema operacional
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/